*{

  margin: 0 auto;
  padding: 0;

}

body{

  background-image: url("../img/bg-2.png");
}

.logo{

  position: absolute;
  left: -4%;
  bottom: -60%;

}

.navbar{

  box-sizing: border-box;
  position: fixed;
  top: 8%;
  left: 18.8%;
  height:50px;
  background-color: rgb(239,76,39);
  width: 960px;
  padding-left: 5%;
  z-index: 1;

}

.navbar li{

  float: left;
  display: inline;
  list-style: none;
  padding: 1.7% 0 0 1.2%;

}


.navbar a{

  font-family: Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
  color:white;

}

.productos{

  position: absolute;
  background-color: white;
  margin-top: 6%;
  overflow: hidden;
  width: 960px;
  left:18.8%;
  top:12%;

}

article {

  position: relative;
  display: inline-block;
  overflow: hidden;
  left:1.1%;
  margin-top: 2%;

}

article:nth-child(2){

  margin: 0 15px 0 15px;

}

article:nth-child(5){

  margin: 0 15px 0 15px;

}

article:nth-child(8){

  margin: 0 15px 0 15px;

}

span{

  background-color: black;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  top:46%;

}

article p {

  font-family: Tahoma;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color:white;
  padding: 1%;

}

.banderin{

  position:absolute;
  left:73%;
  bottom:59.6%;
}

.vermas{


  padding:3% 4% 3% 4%;
  background-color: red;
  position: absolute;
  bottom:7%;
  left: 33.5%;
  border:0;

}

.vermas a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}



#modal-producto {

  position: fixed;
  font-family: arial,helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms linear;
  pointer-events: none;

}

#modal-producto:target {

  opacity:1;
  pointer-events: auto;

}

#modal-producto div {

  width: 960px;
  height: 500px;
  position: relative;
  margin: 10% auto;
  border: 2px solid black;
  background-image: url("../img/img-phone-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;

}

#modal-producto a {
  float: right;
  text-decoration: none;
  font-weight: bold;
  margin: 1% 2% 0 0;
  color:white;
}

#modal-producto p{

  box-sizing: border-box;
  padding: 2% 3% 0 6%;
  color:white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 20%;
  position: absolute;
  top:80%;
  background-color: rgba(0, 0, 0, 0.4);

}
