*{

  margin: 0 auto;
  padding: 0;

}

body{

  background-image: url("../img/bg-2.png");
  display: flex;
}

.logo{

  position: absolute;
  left: -4%;
  bottom: -60%;

}

.navbar{

  box-sizing: border-box;
  position: fixed;
  top: 8%;
  left: 18.8%;
  height:50px;
  background-color: rgb(239,76,39);
  width: 960px;
  padding-left: 5%;
  z-index: 1;

}

.navbar li{

  float: left;
  display: inline;
  list-style: none;
  padding: 1.7% 0 0 1.2%;

}


.navbar a{

  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  color:white;

}

.productos{

  position: absolute;
  background-color: white;
  margin-top: 6%;
  overflow: hidden;
  width: 960px;
  left:18.8%;
  top:12%;

}

article {

  position: relative;
  display: inline-block;
  overflow: hidden;
  left:1.1%;
  margin-top: 1.1%;

}

article:nth-child(2){

  margin: 0 15px 0 15px;

}

article:nth-child(5){

  margin: 0 15px 0 15px;

}

article:nth-child(8){

  margin: 0 15px 0 15px;

}

span{

  background-color: black;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  top:46%;

}

article p {

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color:white;
  padding: 1%;

}

.banderin{

  position:absolute;
  left:73%;
  bottom:59.6%;
}

.vermas{
  padding:3% 4% 3% 4%;
  background-color: red;
  position: absolute;
  bottom:7%;
  left: 33.5%;
  border:0;
  text-decoration: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.vermas:hover{
  opacity: 0.7;
  transition: 450ms;
}


#modal-fondo{
  display:none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name:abrirModal;
  animation-duration: 1.2s;


}

.modal{
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  width: 600px;
  height: 410px;
  left: 30%;
  bottom:30%;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  overflow: hidden;
  animation-name:abrirModal;
  animation-duration: 1.2s;
  background-color: rgb(239,76,39);
  user-select: none;
}

.modal h1{

  color: #EF4C27;
  background-image: url('../img/bg-2.png');
  padding:10px;

}

.modal-info{

  position: relative;
  font-size: 13px;
  text-align: left;
  line-height: 30px;
  height: 100%;
  width: 1000px;
  overflow: hidden;

}

.modal-info h4{
  font-size: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  font-style: italic;
  padding-left: 9px;
  color: rgb(255,255,255,0.8);

}



.modal-info li{
  color: rgba(255,255,255,0.6);
  display: inline;
  padding-left: 20px;


}

.modal-footer{

  color: #EF4C27;
  padding:10px;
  clear: both;

  text-align: center;
  position: absolute;
  width: 100%;
  top:368px;
  background-image: url('../img/bg-2.png');

}

#boton-cerrar{
  float: right;
  font-size: 25px;
  color: #ccc;
  font-weight: bold;
  margin-right: 13px;
  margin-top: 2px;
}

#boton-cerrar:hover{
  color:#EF4C27;
  cursor: pointer;
}

@keyframes abrirModal {
  from{opacity: 0}
  to{opacity: 1}
}
